.collapsible .header {
  background-color: #000;
  color: #FFF;
  cursor: pointer;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.collapsible .body.show {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.collapsible .body.hidden {
  display: none;
}
